/* //service page here  */

@media screen and (max-width: 1024px) {
  .footer-section .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .service-hero-section .title h2 {
    font-size: 2.5rem;
  }
  .beyond-border .title {
    padding: 0px 0px 0px 0px;
  }
  .service-hero-section .title p {
    font-size: 1.2rem;
    padding-top: 15px;
  }
  .about-section .mockup {
    height: 40vh;
  }

  .tech-power .title {
    padding: 50px 50px 50px 0px;
  }

  .grid-icon {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* /tech-power */
  .tech-power .title {
    padding: 40px 0px 25px 0px;
  }

  .tech-grid-icon {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .grid-icon .icon img {
    height: auto;
    object-fit: contain;
  }

  /* about page styling here  */
  .value-cards-wrapperr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;
    justify-items: center;
    margin-top: 50px;
  }
}

/* for mobile views */

@media screen and (max-width: 768px) {
  .service-hero-section .title {
    text-align: left;
  }
  .service-hero-section .title h2 {
    font-size: 2.5rem;
  }
  .grid-icon {
    grid-template-columns: repeat(3, 1fr);
  }

  /* tech-power */

  .tech-grid-icon {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* about page styling here  */
  .value-cards-wrapperr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;
    justify-items: center;
    margin-top: 50px;
  }
}
