@media screen and (max-width: 991px) {
  /* Here footer responsive section */
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .case-study-card:nth-child(1),
  .case-study-card:nth-child(2),
  .case-study-card:nth-child(3),
  .case-study-card:nth-child(4) {
    grid-column: 1/-1;
  }

  .services-hero-section {
    padding: 130px 0 0 0;
  }

  /* ========================== Start New Page responsive styling here custom elearning development ========================= */
  .gridcolumns {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .footer-section .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .service-hero-section .title h2 {
    font-size: 2.5rem;
  }
  .beyond-border .title {
    padding: 0px 0px 0px 0px;
  }
  .service-hero-section .title p {
    font-size: 1.2rem;
    padding-top: 15px;
  }
  .about-section .mockup {
    height: 40vh;
  }

  .tech-power .title {
    padding: 50px 50px 50px 0px;
  }

  .grid-icon {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  /* /tech-power */
  .tech-power .title {
    padding: 40px 0px 25px 0px;
  }

  .tech-grid-icon {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .grid-icon .icon img {
    height: auto;
    object-fit: contain;
  }

  /* about page styling here  */
  .value-cards-wrapperr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;
    justify-items: center;
    margin-top: 50px;
  }

  /* Sub Services page styling here */
  .full-content-wrapper div:last-child {
    order: 1;
    grid-column: 1/5;
  }

  .full-content-wrapper div:last-child img {
    border-radius: 0 0 3rem 3rem;
    height: 30rem;
    object-fit: cover;
  }

  .full-content-wrapper div:first-child {
    order: 2;
    grid-column: 2/4;
    padding-inline: 0;
    padding-block-start: 3rem;
  }

  /* call to action section responsive styling here */
  .cta-services-elements img:nth-child(1) {
    max-width: 20rem;
  }

  .cta-services-elements img:nth-child(2) {
    max-width: 10rem;
    top: -8.5%;
  }

  .cta-services-elements img:nth-child(3) {
    max-width: 15rem;
    bottom: -20%;
  }
}

/* for mobile views */

@media screen and (max-width: 768px) {
  /* tech-power */
  .tech-grid-icon {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  /* about page styling here  */
  .value-cards-wrapperr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;
    justify-items: center;
    margin-top: 50px;
  }

  .hero-message-vector {
    top: 0;
    max-height: 60px;
  }

  .hero-chart-vector {
    max-height: 130px;
    left: 10%;
  }

  /* Here about us section responsive styling */
  .about-section .hlighlighs {
    gap: 2rem 1rem;
  }

  .hlighlighs .experience,
  .hlighlighs .project,
  .hlighlighs .clients {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }

  .experience span,
  .project span,
  .clients span {
    font-size: 1rem;
  }

  .experience p,
  .project p,
  .clients p {
    font-size: 3rem;
  }

  /* Here is the Service section responsive styling */
  .services-section h3 {
    font-size: 2rem;
  }

  .feature-section h3 {
    font-size: 1.75rem;
  }

  .services-section p {
    font-size: 1rem;
  }

  .service-item h4 {
    font-size: 1.5rem;
  }

  /* Here is the feature section responsive styling */
  .feature-content > h4 {
    font-size: 1.5rem;
  }

  .feature-card {
    gap: 1.25rem 4.375rem;
  }

  .features-cards {
    row-gap: 1.75rem;
    margin-top: 1rem;
  }

  /* Here is the why choose section responsive styling */
  .why-choose-section h3 {
    font-size: 2rem;
    margin-block-start: 2rem;
  }

  .choose-cards {
    grid-gap: 1.5rem 4rem;
    margin-top: 2.5rem;
  }

  .choose-card h4 {
    font-size: 1.5rem;
    margin: 1.25rem 0 0.5rem 0;
  }

  /* Here is the case study section responsive styling */
  .case-study-section h3 {
    font-size: 2rem;
  }

  .case-study-card:nth-child(1) div:first-child,
  .case-study-card:nth-child(2) div:first-child,
  .case-study-card:nth-child(3) div:first-child,
  .case-study-card:nth-child(4) div:first-child {
    order: 2;
  }

  /* Here footer responsive section */
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .footer-company-profile img {
    width: 6.875rem;
    margin-block-end: 1.2rem;
  }

  .footer-company-profile p {
    font-size: 0.9rem;
  }

  .newsletter-form,
  .footer-award {
    margin-block-start: 1.5rem;
  }

  .footer-services li,
  .footer-our-pages li,
  .footer-contact li {
    margin-block-end: 0.3rem;
  }

  .footer-services a,
  .footer-our-pages a,
  .footer-contact a {
    font-size: 0.9rem;
  }

  .footer-wrapper h5 {
    font-size: 1.15rem;
    margin-block-end: 0.75rem;
  }

  .footer-company-profile {
    max-width: 100%;
  }

  .footer-company-profile,
  .footer-services {
    grid-column: span 2;
  }

  /* ========================== Start New Page responsive styling here custom elearning development ========================= */
  .sub-services-hero-section {
    padding-block-start: 5rem;
    padding-block-end: 3rem;
  }

  .sub-services-hero-section h1 {
    font-size: 2.25rem;
  }

  .sub-services-hero-section h5 {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

  /* Trusted by section responsive styling here */
  .for-subservices h3 {
    font-size: 2rem;
  }

  /* Our Process section responsive styling here */
  .our-process {
    overflow-x: hidden;
  }

  .our-process h3 {
    font-size: 2rem;
  }

  .process-wrapper {
    margin-block-start: 0;
  }

  .process-card {
    width: 19.25rem;
    margin-inline: auto;
  }

  .process-card:nth-child(2),
  .process-card:nth-child(4) {
    translate: -3rem 0;
  }

  /* Why choose us section reponsive styling here */
  .services-why-choose-section h3 {
    font-size: 2rem;
  }

  /* cta section responsive styling here */
  .cta-section {
    padding-block: 7rem;
  }

  .cta-section h3 {
    font-size: 2.25rem;
  }

  .cta-services-elements img:nth-child(1) {
    max-width: 10rem;
    top: -2%;
    left: -2%;
    rotate: -45deg;
  }

  .cta-services-elements img:nth-child(2) {
    max-width: 5rem;
    top: -3.5%;
  }

  .cta-services-elements img:nth-child(3) {
    max-width: 7.5rem;
    bottom: -7.5%;
  }

  .cta-section .cta-buttons a:last-child {
    margin-inline-start: 0;
  }

  /* FAQ section responsive styling here */
  .faq-section h3 {
    font-size: 2.25rem;
  }

  .faq-questions {
    margin-top: 1rem;
  }

  .faq .faq-ask h5 {
    font-size: 1rem;
  }

  .faq .faq-answer p {
    font-size: 0.9rem;
  }
}
