@font-face {
  font-family: "Aeonik Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(aeoniktrial-bold.woff2) format("woff2");
}

@font-face {
  font-family: "Aeonik Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(aeoniktrial-regular.woff2) format("woff2");
}

@font-face {
  font-family: "Aeonik Light";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(aeoniktrial-light.woff2) format("woff2");
}
